# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: npm install and build
        run: |
          cd client
          npm ci
          npm run build --if-present
          cd ..
          rm -rf server/static
          mkdir static
          mv client/dist server/static
      - name: commit back to repo
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          add_options: 'server/static'

